<?xml version="1.0"?>
<robot name="summit_xl"
  xmlns:xacro="http://wiki.ros.org/xacro">
  <!-- ***************** -->
  <!-- Imported elements -->
  <!-- ***************** -->
  <!-- Import summit base elements (base + wheels) -->
  <xacro:include filename="$(find summit_xl_description)/urdf/bases/summit_xl_base.urdf.xacro"/>
  <xacro:include filename="$(find summit_xl_description)/urdf/wheels/rubber_wheel.urdf.xacro"/>
  <xacro:include filename="$(find summit_xl_description)/urdf/wheels/omni_wheel.urdf.xacro"/>
  <xacro:include filename="$(find summit_xl_description)/urdf/structures/structure_gps.urdf.xacro"/>
  <xacro:include filename="$(find summit_xl_description)/urdf/structures/structure_robosense.urdf.xacro"/>
  <xacro:include filename="$(find summit_xl_description)/urdf/structures/structure_teltonika.urdf.xacro"/>
  <!-- Import all available sensors -->
  <xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro"/>
  <xacro:include filename="$(find realsense2_description)/urdf/_d455.urdf.xacro" />
  <!-- ***************** -->
  <!-- Global parameters -->
  <!-- ***************** -->
  <xacro:property name="PI" value="3.1415926535897931"/>
  <!-- Wheel parameters -->
  <!-- x,y,z in translation from base_link to the center of the wheel -->
  <xacro:property name="wheel_offset_x" value="0.218"/>
  <xacro:property name="wheel_offset_y" value="0.218"/>
  <xacro:property name="wheel_offset_z" value="0.0512"/>
  <!-- Flag to select the high or low quality model -->
  <xacro:property name="hq" value="true"/>
  <xacro:arg name="robot_id" default="robot"/>
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="robot_ns" default="$(arg robot_id)"/>
  <xacro:arg name="omni_wheels" default="false"/>
  <!-- *************** -->
  <!-- Robots Elements -->
  <!-- *************** -->
  <!-- Summit XL -->
  <xacro:summit_xl_base prefix="$(arg prefix)/" publish_bf="true" hq="${hq}"/>
  <!--xacro:gazebo_colors /-->
  <!-- WHEELS -->
  <xacro:unless value="$(arg omni_wheels)">
    <xacro:rubber_wheel prefix="front_right_" parent="$(arg prefix)/base_link" reflect="false" hq="${hq}">
      <origin xyz="${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
    </xacro:rubber_wheel>
    <xacro:rubber_wheel prefix="front_left_" parent="$(arg prefix)/base_link" reflect="true" hq="${hq}">
      <origin xyz="${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
    </xacro:rubber_wheel>
    <xacro:rubber_wheel prefix="rear_left_" parent="$(arg prefix)/base_link" reflect="true" hq="${hq}">
      <origin xyz="-${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
    </xacro:rubber_wheel>
    <xacro:rubber_wheel prefix="rear_right_" parent="$(arg prefix)/base_link" reflect="false" hq="${hq}">
      <origin xyz="-${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
    </xacro:rubber_wheel>
  </xacro:unless>
  <xacro:if value="$(arg omni_wheels)">
    <xacro:omni_wheel prefix="front_right_" parent="$(arg prefix)/base_link" reflect="false" hq="${hq}">
      <origin xyz="${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
    </xacro:omni_wheel>
    <xacro:omni_wheel prefix="front_left_" parent="$(arg prefix)/base_link" reflect="true" hq="${hq}">
      <origin xyz="${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
    </xacro:omni_wheel>
    <xacro:omni_wheel prefix="back_left_" parent="$(arg prefix)/base_link" reflect="true" hq="${hq}">
      <origin xyz="-${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
    </xacro:omni_wheel>
    <xacro:omni_wheel prefix="back_right_" parent="$(arg prefix)/base_link" reflect="false" hq="${hq}">
      <origin xyz="-${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
    </xacro:omni_wheel>
  </xacro:if>
  <!-- SENSORS -->
  <!-- 3D Lidar-->
  <xacro:structure_robosense prefix="$(arg prefix)/front_laser_" parent="$(arg prefix)/base_link">
    <origin xyz="-0.11924 0.0 0.32069" rpy="0 0 0"/>
  </xacro:structure_robosense>
  <xacro:sensor_robosense_helios_16p simulation="true" gpu="true" node_namespace="$(arg robot_ns)" node_name="top_3d_laser" frame_prefix="$(arg prefix)/front_laser_" parent="$(arg prefix)/front_laser_structure_robosense">
    <origin xyz="0.0 0.0 0.04569" rpy="0 0 0"/>
  </xacro:sensor_robosense_helios_16p>
  <!-- CAMERA -->
  <xacro:sensor_stereolabs_zed2i_low_res simulation="true" node_namespace="$(arg robot_ns)/zed2" node_name="zed_node" frame_prefix="$(arg prefix)/front_camera_" parent="$(arg prefix)/base_link">
    <origin xyz="0.324 0.012 0.172" rpy="0 0 0"/>
  </xacro:sensor_stereolabs_zed2i_low_res>
  <link name="$(arg prefix)/camera_mast_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size="0.02 0.02 0.5"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size="0.02 0.02 0.5"/>
      </geometry>
    </collision>
  </link>
  <joint name="$(arg prefix)/camera_mast_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.025 0.0 0.525"/>
    <parent link="$(arg prefix)/base_link" />
    <child link="$(arg prefix)/camera_mast_link" />
  </joint>
  <link name="$(arg prefix)/d455_base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find summit_xl_description)/meshes/structures/d455_base.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find summit_xl_description)/meshes/structures/d455_base.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint name="$(arg prefix)/d455_base_joint" type="fixed">
    <origin rpy="-${pi/2} 0.0 ${pi/2}" xyz="0.0105 0.0 0.243"/>
    <parent link="$(arg prefix)/camera_mast_link" />
    <child link="$(arg prefix)/d455_base_link" />
  </joint>
  <xacro:sensor_d455 parent="$(arg prefix)/d455_base_link" use_nominal_extrinsics="true">
    <origin xyz="0.0 0.017 -0.005" rpy="0 ${pi-pi/3} -${pi/2}"/>
  </xacro:sensor_d455>
  <!-- gazebo realsense plugin -->
  <gazebo reference="camera_link">
    <sensor name="d455_camera" type="depth">
      <always_on>true</always_on>
      <update_rate>30</update_rate>
      <visualize>false</visualize>
      <camera name="camera">
        <horizontal_fov>${pi/2}</horizontal_fov>
        <image>
          <width>1280</width>
          <height>720</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.1</near>
          <far>100</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
        <distortion>
          <k1>0.0</k1>
          <k2>0.0</k2>
          <k3>0.0</k3>
          <p1>0.0</p1>
          <p2>0.0</p2>
        </distortion>
      </camera>
      <plugin name="camera_plugin" filename="libgazebo_ros_camera.so">
        <ros>
          <remapping>camera/image_raw:=/camera/camera/color/image_raw</remapping>
          <remapping>camera/image_raw/compressed:=/camera/camera/color/image_raw/compressed</remapping>
          <remapping>camera/image_raw/compressedDepth:=/camera/camera/color/image_raw/compressedDepth</remapping>
          <remapping>camera/camera_info:=/camera/camera/color/camera_info</remapping>
          <remapping>camera/depth/image_raw:=/camera/camera/aligned_depth_to_color/image_rect_raw</remapping>
          <remapping>camera/depth/image_raw/compressed:=/camera/camera/aligned_depth_to_color/image_rect_raw/compressed</remapping>
          <remapping>camera/depth/image_raw/compressedDepth:=/camera/camera/aligned_depth_to_color/image_rect_raw/compressedDepth</remapping>
          <remapping>camera/depth/camera_info:=/camera/camera/aligned_depth_to_color/camera_info</remapping>
          <remapping>camera/points:=/camera/camera/depth/color/points</remapping>
        </ros>
        <baseline>0.05</baseline>
        <always_on>true</always_on>
        <update_rate>0.0</update_rate>
        <frame_name>camera_color_optical_frame</frame_name>
        <camera_name>camera</camera_name>
        <min_depth>0.4</min_depth>
        <max_depth>6.0</max_depth>
        <focal_length>0</focal_length>
        <hack_baseline>0</hack_baseline>
      </plugin>
    </sensor>
  </gazebo>
  <!-- GPS -->
  <xacro:structure_mastil_gps prefix="$(arg prefix)/gps" parent="$(arg prefix)/base_link">
    <origin xyz="-0.24824 0.095 0.275" rpy="0 0 0"/>
  </xacro:structure_mastil_gps>
  <xacro:sensor_ublox simulation="true" frame_prefix="$(arg prefix)/gps/" node_namespace="$(arg robot_ns)" topic_prefix="gps/" parent="$(arg prefix)/gps_link">
    <origin xyz="0.0 0 0.37" rpy="0 0 0"/>
  </xacro:sensor_ublox>
  <!-- Antenna -->
  <xacro:structure_mastil_teltonika prefix="$(arg prefix)/antenna" parent="$(arg prefix)/base_link">
    <origin xyz="-0.24824 -0.095 0.275" rpy="0 0 0"/>
  </xacro:structure_mastil_teltonika>
  <!-- IMU -->
  <xacro:sensor_myahrs simulation="true" frame_prefix="$(arg prefix)/imu/" node_namespace="$(arg robot_ns)" parent="$(arg prefix)/base_link">
    <origin xyz="0.03534 0.132 0.14138" rpy="0 0 0"/>
  </xacro:sensor_myahrs>
  <!-- Gazebo ros control plugins -->
  <xacro:arg name="config_controllers" default=""/>
  <xacro:include filename="$(find summit_xl_description)/urdf/ros2_control.urdf.xacro"/>
  <xacro:ros2_control/>
</robot>